<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="queryAccountListProcessor" class="com.prometheus.ledger.service.impl.account.processor.QueryAccountListProcessor"/>
    <bean id="accountFacade" class="com.prometheus.ledger.service.impl.account.AccountFacadeImpl">
        <property name="queryAccountListProcessors">
            <list>
                <ref bean="queryAccountListProcessor"/>
            </list>
        </property>
    </bean>

    <bean id="queryMemberProcessor" class="com.prometheus.ledger.service.impl.member.processor.QueryMemberProcessor"/>
    <bean id="checkLoginProcessor" class="com.prometheus.ledger.service.impl.member.processor.CheckLoginProcessor"/>
    <bean id="registerMemberProcessor" class="com.prometheus.ledger.service.impl.member.processor.RegisterMemberProcessor"/>
    <bean id="memberFacade" class="com.prometheus.ledger.service.impl.member.MemberFacadeImpl">
        <property name="queryMemberProcessors">
            <list>
                <ref bean="queryMemberProcessor"/>
            </list>
        </property>
        <property name="checkLoginProcessors">
            <list>
                <ref bean="checkLoginProcessor"/>
            </list>
        </property>
        <property name="registerMemberProcessors">
            <list>
                <ref bean="registerMemberProcessor"/>
            </list>
        </property>
    </bean>

</beans>