<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible">
    <link rel="icon" href="#">

    <title>Prometheus Ledger</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/dist/css/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/dist/css/cover/cover.css}" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Prometheus Ledger</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/ledger/home">Ledger</a>
                <a class="nav-link" href="/about">About Us</a>
                <a class="nav-link" href="/login" th:if="${userId}==null">Sign in</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Prometheus Ledger</h1>
        <h3 class="cover-heading" th:if="${userId}!=null" th:text="${userId}"></h3>
        <p class="lead">Prometheus ledger is a web based application to help you keeping and maintaining all of your transaction and finance information.</p>
        <p class="lead">
            <a href="/ledger/home" class="btn btn-lg btn-secondary">Go to Ledger</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Created by <a href="https://bonggal.github.io">Bonggal</a>.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--<script src="../../assets/js/vendor/popper.min.js"></script>-->
<script th:src="@{/dist/js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>